

/* style.css */
body {
    font-family: 'iranyekan', sans-serif !important ;
}

/* Ripple effect */
.ripple {
    position: relative;
    overflow: hidden;
}

.ripple::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 9999px;
}

.ripple:active::after {
    opacity: 1;
    transition: opacity 0s;
}

/* Active nav item */
.active {
    background-color: #e0e7ff; /* bg-indigo-100 */
    color: #3730a3; /* text-indigo-800 */
    font-weight: 700; /* font-bold */
}

.fade-in {
    animation: fadeInUp 0.5s ease-out both;
  }
  @keyframes fadeInUp {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }

.tooltip {
    position: relative;
  }
.tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px;
    right: 0;
    background: #4b5563;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
    font-family: Vazir, sans-serif;
  }

:root {
        --pdp-primary-color: #4f46e5; /* indigo-600 */
        --pdp-hover-color: #4338ca; /* indigo-700 */
        --pdp-border-color: #a5b4fc; /* indigo-300 */
        --pdp-text-color: #374151; /* gray-700 */
        --pdp-box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }




